@import '../../styles/partials/mixins';

.gallery-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 8px;
	padding: 0 24px;

	@include tablet {
		grid-template-columns: repeat(4, 1fr);
		gap: 12px;
		padding: 0 48px;
	}

	@include desktop {
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		gap: 16px;
		padding: 0 180px;
	}

	&__item {
		object-fit: cover;
		height: 20vh;
		width: 100%;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		border-radius: 4px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
	}
}